/* Main Styles For Demo only. 
    Dosent Required with working
*/
.container {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.container>a {
    flex: 1 0 100%;
}

.box {
    height: 200px;
    width: 350px;
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
    background-color: whitesmoke;
}

/* Add this css class in your style sheet so this class can be toggled through Javascript*/
.hiddenContent {
    display: none;
}